<header>
  <nav id="navigation">
    <figure id="logo">
      <a href="/"><img src="/images/russ-logo.svg" alt="Logo" /></a>
    </figure>
    <ul id="navigation-list">
      <li><a class="underline-animation" href="#about">About</a></li>
      <li><a class="underline-animation" href="#project">Project</a></li>
      <li><a class="underline-animation" href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>