<header>
  <nav id="navigation">
    <figure id="logo">
      <img src="" alt="Logo" />
    </figure>
    <ul id="navigation-list">
      <li><a href="#about">About</a></li>
      <li><a href="#project">Project</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>