<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Mahrus Sayid" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Personal portofolio website of Mahrus Sayid, junior software engineer who use JavaScript and TypeScript stack" />
    <!-- 
      Uncomment this section and add your own logo icon!
      <link rel="icon" href="favicon.ico" type="image/x-icon" />
    -->
    <!-- 
      Read more about meta tags at 
      @https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/The_head_metadata_in_HTML
      @https://ogp.me/
    -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Mahrus Sayid</title>
  </head>
  <body>
    <!-- Navbar Section -->
    <header>
      <nav id="navigation">
        <figure id="logo">
          <img src="" alt="Logo" />
        </figure>
        <ul id="navigation-list">
          <li><a href="#about">About</a></li>
          <li><a href="#project">Project</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <!-- Welcome Section -->
    <section id="welcome">
      <h1>Mahrus Sayid</h1>
      <p>Description here</p>
    </section>
    <!-- Project Section -->
    <section id="project">
      <h2>Project goes here</h2>
      <article id="project-grid">
        <div class="grid">
          <h2>Project Title</h2>
          <p>Project Description</p>
        </div>
      </article>
    </section>
    <!-- Contact Section -->
    <section id="contact">
      <h2>Here is my contact</h2>
      <ul id="social">
        <li>
          <span id="github">GitHub</span>
          <a href="https://github.com/mahrus-rohisyam"></a>
        </li>
        <li>
          <span id="linkedin">Linkedin</span>
          <a href="https://linkedin.com/in/mahrus"></a>
        </li>
        <li>
          <span id="email">Email</span>
          <a href="https://github.com/mahrus-rohisyam"></a>
        </li>
        <li>
          <span id="instagram">Instagram</span>
          <a href="https://instagram.com/mahrus.rohisyam"></a>
        </li>
      </ul>
    </section>
    <!-- Footer Section -->
    <footer id="footer">
      Copyright &#169; 2022 <a href="/">Mahrus Sayid</a>
    </footer>
    <script src="/javascripts/main.js"></script>
  </body>
</html>