<%- include('partials/header') %> <%- include('partials/navbar') %>
<!-- Your content below this tag -->
<!-- Welcome Section -->
<section id="welcome">
  <h1>Mahrus Sayid</h1>
  <p>Description here</p>
</section>
<section id="about">
  <h2>#About</h2>
  <p>Software Engineer, Fullstack developer, Instructor who loves adventure around the world and share his experience !</p>
  <h2>#Stacks</h2>
  <ul>
    <div>Enter your stack here</div>
  </ul>
</section>
<!-- Project Section -->
<section id="project">
  <h2>Project goes here</h2>
  <article id="project-grid">
    <div class="grid">
      <figure>
        <img src="" alt="Todo Application With React">
      </figure>
      <h2>Project Title</h2>
      <p>Project Description</p>
    </div>
  </article>
</section>
<!-- Contact Section -->
<section id="contact">
  <h2>Here is my contact</h2>
  <ul id="social">
    <li>
      <span id="github">GitHub</span>
      <a href="https://github.com/mahrus-rohisyam"></a>
    </li>
    <li>
      <span id="linkedin">Linkedin</span>
      <a href="https://linkedin.com/in/mahrus"></a>
    </li>
    <li>
      <span id="email">Email</span>
      <a href="https://github.com/mahrus-rohisyam"></a>
    </li>
    <li>
      <span id="instagram">Instagram</span>
      <a href="https://instagram.com/mahrus.rohisyam"></a>
    </li>
  </ul>
</section>
<!-- Your content above this tag -->
<%- include('partials/footer') %>
